
        /* light.css */
        QWidget {
            background-color: #f0f0f0;
            color: #000000;
        }
        QTabWidget::pane {  
            background-color: #ffffff; 
            border-radius: 10px; 
        }
        QTabBar::tab { 
            background-color: #dcdcdc;
            color: #000000;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            min-width: 80px;
            padding: 5px;
            margin-left: 1px;
        }
        QTabBar::tab:selected { 
            background-color: #ffffff;
            color: #000000;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-top: 3px;
        }
        QTabBar::tab:hover:!selected { 
            background-color: #c0c0c0;
            color: #000000;
        }
        QTabBar::tab:!selected {
            margin-top: 10px;
        }
        