
        /* dark.css */
        QWidget {
            background-color: #2b2b2b;
            color: #ffffff;
        }
        QTabWidget::pane {  
            background-color: #2b2b2b; 
            border-radius: 10px; 
        }
        QTabBar::tab { 
            background-color: #3c3c3c;
            color: #ffffff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            min-width: 80px;
            padding: 5px;
            margin-left: 1px;
        }
        QTabBar::tab:selected { 
            background-color: #2b2b2b;
            color: #ffffff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-top: 3px;
        }
        QTabBar::tab:hover:!selected { 
            background-color: #555555;
            color: #ffffff;
        }
        QTabBar::tab:!selected {
            margin-top: 10px;
        }
        